main {
    width: 100%;
    min-height: 100vh; /* altura da janela do meu dispositivo */
    display: flex;
    justify-content: center; /* alinha no sentido contrário do flex*/ 
    align-items: center; /* alinha no sentido do flex*/
}

main > div {
    width: 90%;
    display: flex;
    /*justify-content: space-between;*/
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

/* formulário */
#formulario {
    /*height: 300px;*/
   /*background-color: #fff;*/
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   /*justify-content: space-between;*/
   padding:3%;
}

#secao-cadastro {
    /*width: 100px;*/
    height: 60px;
    /*background-color: #fff;*/
    display:flex;
    justify-content: center;
    align-items: center;
}

.estilo-formulario {
    max-width: 340px;
}

#formulario > div {
    border: var(--borda);
    border-radius: var(--borda-arredondada);
    border-image: linear-gradient(
        82deg,
        rgba(122, 0, 104, 1) 0%,
        rgba(122, 0, 104, 1) 42%,
        rgba(223, 0, 190, 1) 100%
    ) 1;
    width: 100%;
}

#formulario > div > label {
    font-size: var(--tamanho-fonte-sm3);
    color: var(--cor-cinza);
    font-weight: 500; /* aumenta ou diminui a expessura da fonte */
    padding-bottom: 4px;
    outline: none;
}

.formulario-botao-roxo {
    width: 100%;
}

#formulario > p {
    text-transform: uppercase; /* transformamos em maiusculo */
    font-size: var(--tamanho-fonte-sm3);
    color: var(--cor-cinza);
}

#formulario > a, #secao-cadastro > p > a {
    text-decoration: none;
    color: var(--cor-rosa);
}

#secao-cadastro > p {
    font-size: var(--tamanho-fonte-sm3);
}

.informacao-aplicativo {
    /*background-color: #e0e0e0;*/
    font-size: var(--tamanho-fonte-sm3);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* espaço em linhas e colunas */
}

#secao-instalacao img {
    width: 133px;
    height: 39px;
}